.flickr {
    width: 100%;

    .visual_sub {
        width: 100%; height: 250px; background: linear-gradient(45deg,#9c0c89,#4316ad);position: relative; padding-top: 80px;

        &::before { 
            content: "";display: block; width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; background:url(../img/gallery.jpg)no-repeat center/cover;opacity: 0.3;
        }
        
        .visual_inner {
            width: 1180px; height:100%;margin: 0px auto; text-align: center; position: relative;

            p {
                display: inline-block; font: bold 12px/1  'Play', sans-serif; margin-bottom: 10px;border-bottom: 1px solid #fff;padding-bottom: 2px; color: #fff; 
            }

            span {
                display:block;font: bold 30px/1 'Play', sans-serif;  color: #fff;
            }
        }
    }

    .inner {
        width: 1180px; padding: 100px 0px 0px; box-sizing: border-box; margin: 0px auto; position: relative;
    
       .wrap {
        width:85%;margin-left: 15%;
    
            h2 {
                margin-bottom: 10px; font: bold 30px/1 'Open Sans',sans-serif; letter-spacing: 5px;
            }
            .sen {
                margin-bottom: 10px; font: 16px/1 'Open Sans',sans-serif; color: #777;
            }
        }
    
        #search {
            width: 45%; margin-bottom: 30px;position: relative; text-align: left;
    
            input[type=text] {
                width: 100%; height: 40px;border: none; border-bottom: 1px solid #000;font: bold 14px/40px 'Open Sans', sans-serif; padding: 0px 10px;
            }
            button {
                background-color: #fff; border: none; cursor: pointer;  color: #000; font-size: 20px; position: absolute; right: 10px; bottom: 10px;
            }
        }
    
        #gallery {
    
            &::after {content: "";display: block; clear: both;}
        
    
            li {
                width:85%; margin-bottom: 80px; float: left; position: relative; margin-left: 15%; 
              
                span {
                    font: normal 14px/1 'Open Sans', sans-serif; color: #aaa; position: absolute; left: 70px; top: 5px;
                }
    
                p {
                    font: normal 18px/1.2 'Open Sans', sans-serif; color: #000; position: absolute; left: 70px; top: 25px;
    
                }
        
                a {
                    display: block; width: 70px; height: 25px; border: 1px solid #000; position: absolute; right: 1px; top: 10px; font: bold 12px/25px 'Open Sans', sans-serif;text-align: center; color: #000; box-sizing: content-box; float: right; transition: 0.5s;
    
                    &:hover {
                        background: #111; color: #fff; 
    
                        + p {
                            color: #000;
                        }
    
                        + .wrap_pic {
    
                            &::after {
                                opacity: 0;
                            }
                        }
                    } 
                }
    
                &::after {content: "";display: block;clear: both;}
    
                
    
                .wrap_pic {
                    width: 100%; height:100%;
    
                    &::after {
                        content:""; display: block; width: 100%; height: 170px; position: absolute; top: 70px; left: 0px; background: rgba(0,0,0,0.7); opacity: 1;transition: 0.5s;
                    }
                    
                    .pic {
                        width: 100%; height: 170px; object-fit: cover; text-align: right; margin-top: 20px;
                    }
                }
            }
        }   
    }
}

.Pop {
    width:100%; height:100vh; background:rgba(0,0,0,0.9); position:fixed; top:0px; left:0px; box-sizing:border-box;
    padding:70px; display:none;

    img {
        width:100%; height:100%; object-fit:cover;
    }

    span {
        font:normal 12px/1 'Open Sans', sans-serif; color:#fff;
        position:absolute; top:20px; right:20px;
        cursor:pointer;
    }
}

@media screen and (max-width:1179px){
    .flickr {    
        .visual_sub {
            .visual_inner {
                width: 100%; 
            }
        }
    
        .inner {
            width: 100%; padding: 80px 0px 0px; 
        
        }
    }
}

@media screen and (max-width:539px){
    .flickr {
        .inner {
            width: 100%; padding: 70px 0px; 
    
            .wrap {
                .sen {margin-bottom: 30px;}
            }
        
            #search {
                width: 70%;  margin-bottom: 0px;
            }
    
            #gallery {
                li {
                    .profile {opacity: 0;}
                    
                    span {
                        left: 0px;
                    }
        
                    p {
                        left: 0px;
                    }
    
                    .pic {
                        height: 200px;
                    }
                }
            }
        }
    }
}
