#visual {
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
	background: #111;

	.panel li {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 1;
        transition: opacity 0.5s;

		&#p1 {	
			.pic {
				width: 100%;
				height:100vh;
				background-size: cover;
				background-position: center;
				background-image: url(../img/visual.jpg);
				position: absolute;
				top: 0px;
				left: 0px;
			}	
			.square {
				width: 30%;
				height: 60%;
				position: absolute;
				left: 30%;
				top: 20%;			

				> div {
					position: absolute;
					background: #fff;

					&.left {
						width: 5px;
						height: 0%;
						bottom: 0px;
						left: 0px;
					}
					&.top {
						width: 0%;
						height: 5px;
						top: 0px;
						left: 0px;
					}
					&.right {
						width: 5px;
						height: 0%;
						top: 0px;
						right: 0px;
					}
				}

				h2 {
					font: 2.4vw/1.2 "Raleway"; 
					color: #fff;
					position: absolute;
					bottom: 52%;
					left:50px;
					margin-top:-20px;
					transform: translateY(50px);
					opacity: 0;
					transition: 0.5s 0s;
				}
				p {
					width:140%;
					font: 1vw/1.8 "Raleway";
					color: #999;
					position: absolute; 
					top: 50%;
					margin-top: 40px;
					left:50px;
					transform: translateY(50px);
					opacity: 0;
					transition: 0.5s 0.2s;
				}
				a {
					display: block;
					width: 160px;
					height: 30px;
					border: 1px solid #888;
					font: 11px/30px "Raleway";
					color: #999;
					position: absolute;
					bottom: 40px;
					left: 50px;
					text-align: center;
					transform: translateY(50px);
					opacity: 0;
					transition: 0.5s 0.5s;
				}

				&.on {
					h2, p, a {
						opacity: 1;
						transform: translateY(0px);
					}
				}

			}
		}

		&#p2 {
			.pic {
				width: 70%;
				height: 100vh;
				background-size: cover;
				background-position: center;
				background-image: url(../img/visual10.jpg);
				position: absolute;
				top: 0px;
				right: 0px;

				&::after {
					content: "";
					display: block;
					width: 40%;
					height: 100%;
					background: linear-gradient(to right, #111, transparent);
				}
			}		
			.square {
				width: 35%;
				height: 70%;
				position: absolute;
				left: 45%;
				top: 20%;

				> div {
					position: absolute;
					background: #fff;

					&.top {
						width: 0%;
						height: 5px;
						top: 0px;
						left: 0px;
					}
					&.right {
						width: 5px;
						height: 0%;
						top: 0px;
						right: 0px;
					}
					&.bottom {
						width: 0%;
						height: 5px;
						bottom: 0px;
						right: 0px;
					}
				}

				h2 {
					font: 2.4vw/1.2 "Raleway"; 
					color: #fff;
					position: absolute;
					top: 15%;
					left:-15vw;
					margin-top:-20px;
					transform: translateX(150px);
					opacity: 0;
					transition: 0.5s 0s;
				}
				p {
					width:110%;
					font: 1vw/1.8 "Raleway";
					color: #ddd;
					position: absolute; 
					top: 30%;
					margin-top: 40px;
					left:-15vw;
					transform: translateX(150px);
					opacity: 0;
					transition: 0.5s 0.2s;
				}
				a {
					display: block;
					width: 160px;
					height: 30px;
					border: 1px solid #888;
					font: 11px/30px "Raleway";
					color: #ddd;
					position: absolute;
					top: 56%;
					left: -15vw;
					text-align: center;
					transform: translateX(150px);
					opacity: 0;
					transition: 0.5s 0.5s;
				}

				&.on {
					h2, p, a {
						opacity: 1;
						transform: translateX(0px);
					}
				}
			}
		}

		&#p3 {	
			.pic {
				width: 100%;
				height: 45vh;
				background-size: cover;
				background-position: center;
				background-image: url(../img/visual8.jpg);
				position: absolute;
				bottom: 0px;
				left: 0px;
			}		
			.square {
				width: 50%;
				height: 50%;
				position: absolute;
				right: 20%;
				bottom: 20%;

				> div {
					position: absolute;
					background: #fff;

					&.left {
						width: 5px;
						height: 0%;
						top: 50%;
						left: 0px;
					}
					&.bottom {
						width: 0%;
						height: 5px;
						bottom: 0px;
						left: 0px;
					}
					&.right {
						width: 5px;
						height: 0%;
						bottom: 0px;
						right: 0px;
					}
					&.top {
						width:0%;
						height: 5px;
						top: 0px;
						right: 0px;
					}
				}

				h2 {
					width: 60%;
					font: 2.6vw/1.2 "Raleway";
					color: #fff;
					margin-top: -20px;
					margin-bottom: 20px;
					margin-left: 3vw;
					transform: translateX(-100px);
					opacity: 0;
					transition: 0.5s 0s;
				}
				p {
					width: 90%;
					font: 1vw/1.6 "Raleway";
					color: #999;
					margin-bottom: 10vh;
					margin-left: 3vw;
					transform: translateX(-100px);
					opacity: 0;
					transition: 0.5s 0.2s;
				}
				a {
					display: block;
					width: 160px;
					height: 30px;
					border: 1px solid #999;
					font: 11px/30px "Raleway";
					color: #999;
					//background: #fff;
					text-align: center;
					margin-left: 3vw;
					transform: translateX(-100px);
					opacity: 0;
					transition: 0.5s 0.5s;
				}

				&.on {
					h2, p, a {
						opacity: 1;
						transform: translateX(0px);
					}
				}
			}
		}
		

        
        &.on {
            z-index:2; 
            opacity:1;
        }
    }
    
    .btns {
        position: absolute;
        bottom: 50px;
        right: 50px;
        z-index: 3;

        li {
            float: left;
            margin-left: 40px;

            a {
                font: 14px/1 "Raleway"; color: #aaa;
            }

            &.on {
                a {
                    color: #fff;
                }
            }
        }
    }
}

@media screen and(max-width : 1179px){
	#visual{
		.panel li {
			&#p1 {	
				.square {
					width: 40%;
						
					h2 {
						font: 2.8vw/1.2 "Raleway"; 
						
					}
					p {
						width:120%;
						font: 1.4vw/1.8 "Raleway";
					}
					a {	
						width: 140px;
						bottom: 50px;

					}	
				}
			}
	
			&#p2 {					
				.square {
					height: 60%;
	
					h2 {
						font: 2.8vw/1.2 "Raleway"; 
						top: 20%;	
					}
					p {
						width:110%;
						font: 1.4vw/1.8 "Raleway";
						top: 34%;
						
					}
					a {
						width: 140px;
						top: 68%;
						
					}
				}
			}
			&#p3 {					
				.square {
					h2 {
						font: 2.7vw/1.2 "Raleway";
					}
					p {
						font: 1.2vw/1.6 "Raleway";
						margin-bottom: 4.5vh;
						margin-left: 3vw;
					}
					a {
						width: 140px;
					}
				}
			}
		}
	}
}

@media screen and(max-width : 539px){
	#visual {
		height: 500px;
		
		.panel li {
			
			&#p1 {	
				
				.square {
					width: 70%;
					height: 60%;
					position: absolute;
					left: 10%;
					top: 20%;			
	
					> div {
						position: absolute;
						background: #fff;
	
						&.left {
							width: 5px;
							height: 0%;
							bottom: 0px;
							left: 0px;
						}
						&.top {
							width: 0%;
							height: 5px;
							top: 0px;
							left: 0px;
						}
						&.right {
							width: 5px;
							height: 0%;
							top: 0px;
							right: 0px;
						}
					}
	
					h2 {
						font: 5vw/1.5 "Raleway"; 
						bottom: 45%;
						left:30px;
					
						
					}
					p {
						display: none;
					}
					a {
						width: 120px;
						font: 10px/30px "Raleway";
						bottom: 60px;
						left: 30px;color: #fff;
					}	
				}
			}
	
			&#p2 {
					
				.square {
					
					width: 45%;
					height: 60%;
					
	
					h2 {
						font: 4.5vw/1.5 "Raleway"; 
						padding: 0px 15px 0px 0px;
						top: 35%;
						left:-23vw;
						
					}
					p {
						display: none;
					}
					a {
						width: 120px;
						font: 10px/30px "Raleway";
						color: #fff;
						position: absolute;
						top: 72%;
						left: -23vw;
					}
	
				}
			}
	
			&#p3 {	
				.pic {
					
					height: 40%;
					
				}		
				.square {
					width: 65%;

					h2 {
						width: 60%;
						font: 4vw/1.5 "Raleway";
						margin-top: -10px;
						margin-bottom: 20px;
						margin-left: 3vw;
					}
					p {
						display: none;
					}
					a {
						width: 120px;
						font: 10px/30px "Raleway";
						margin-left: 3vw;
						margin-top: 30px;
					}
				}
			}
			
		}
		
		.btns {
			position: absolute;
			bottom: 50px;
			right: 50px;
			z-index: 3;
	
			li {
				float: left;
				margin-left: 40px;
	
				a {
					font: 14px/1 "Raleway"; color: #aaa;
				}
	
				&.on {
					a {
						color: #fff;
					}
				}
			}
		}
	}
}
